<html>
<head>
  <title>Heroku versions: <%= @stack %></title>
</head>

<body>
  <h1><%= @stack %></h1>

  <p>
    <a href="http://aspen-versions.heroku.com/">aspen-mri-1.8.6</a> |
    <a href="http://bamboo-ree-versions.heroku.com/">bamboo-ree-1.8.7</a> |
    <a href="http://bamboo-mri192-versions.heroku.com/">bamboo-mri-1.9.2</a> |
    <a href="http://cedar-versions.herokuapp.com/">cedar</a> |
    <a href="http://github.com/wuputah/heroku-versions">source code</a>
  </p>

  <pre>
<strong><%= defined?(RUBY_DESCRIPTION) ? RUBY_DESCRIPTION : "ruby #{RUBY_VERSION} (#{RUBY_RELEASE_DATE} patchlevel #{RUBY_PATCHLEVEL}) [#{RUBY_PLATFORM}]" %>
<%= "rubygems #{Gem::VERSION}" %></strong>

<strong>$ env</strong>
<%= ENV.collect { |k, v| "#{k}=#{v}" }.join("\n") %>


<strong>$ gem list</strong>
<%= `gem list`.strip %>


<strong>$ dpkg -l</strong>
<% unless (dpkg = `dpkg -l | grep ^ii`.strip).empty? %><%=
  dpkg.split("\n").collect { |s| s.split(/  +/) }.collect { |pkg| "#{pkg[1]} (#{pkg[2]})" }.join("\n")
%><% else %><span style="color: red">InformationTooUsefulError</span><% end %>
  </pre>

<p><a href="/evil">Nobody expects the Spanish Inquisition!</a></p>

</body>

</html>
